:root {
  --main: #3da9fc;
  --text1: #444;
  --text2: #666;
  --bg-color-1: #fff;
  --bg-color-2: #eee;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: all .2s linear;
}

body {
  background-color: var(--bg-color-2);
}

a {
  text-decoration: none;
}

/* ---------------------- ヘッダー ------------------------*/

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100;
  background-color: var(--bg-color-1);
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  box-shadow: var(--box-shadow);
  padding: 10px 120px;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--text1);
}

.logo span {
  color: var(--main);
}

.icons {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

header .icons div {
  color: var(--text1);
  cursor: pointer;
  background-color: var(--bg-color-2);
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  line-height: 2.5rem;
  text-align: center;
}

header .icons div:hover {
  background-color: var(--main);
  color: var(--bg-color-1);
}

/* ------------------- ナビゲーションメニュー --------------- */


nav {
  position: absolute;
  top: 135%;
  right: 11%;
  background-color: var(--bg-color-1);
  height: 230%;
  width: 11%;
  border-radius: var(--border-radius);
  transform: scale(0);
  transform-origin: top right;
}

nav.active {
  transform: scale(1);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

nav a {
  display: block;
  color: var(--text1);
  padding: 10px;
  margin: 9px;
}

nav a:hover {
  background-color: var(--bg-color-2);
  border-radius: var(--border-radius);
  color: var(--main);
  padding-left: 15px;
}

/* ------------------- @keyframes ----------------- */


/* ------------------- ログイン画面 ----------------- */
#formauto {
  position: absolute;
  top: 9%;
  right: 7%;
  font-size: 3rem;
  color: var(--bg-color-2);
  cursor: pointer;
}

#formauto:hover {
  opacity: 0.8;
}

.form-login-container {
  position: fixed;
  top: -200%; left: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.6s;
}

.form-login-container.active {
  transform: translateY(200%);
  transition: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

#login-form {
  background-color: var(--bg-color-1);
  border-radius: var(--border-radius);
  height: 65vh;
  width: 40%;
  padding: 3rem;
  box-shadow: var(--box-shadow);
}

#login-form h1 {
  text-align: center;
  color: var(--main);
}

#login-form h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: lighter;
  font-size: 16px;
  color: var(--text2);
}

#login-form .box {
  width: 100%;
  height: 40px;
  border-radius: var(--border-radius);
  border: none;
  padding-left: 13px;
  font-size: 15px;
  background-color: var(--bg-color-2);
}

.checkbox-1 {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

label, input[type='checkbox'] {
  cursor: pointer;
  color: var(--text2);
  font-size: 12px;
  padding-left: 5px;
}

.login-btn {
  display: block;
  width: 50%;
  /* margin-top: 20px; */
  padding: 10px 0;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--main);
  color: var(--bg-color-1);
  cursor: pointer;
  font-weight: bolder;
  margin: 20px auto;
}

.login-btn:hover  {
  opacity: 0.8;
}

.a-tag {
  text-align: center;
}

.a-tag a:first-child {
  padding-top: 5px;
}

.a-tag a {
  display: inline-block;
  padding-top: 20px;
  color: var(--text1);
}

.a-tag a:hover {
  color: var(--main);
}



/* --------------------- ブレイクポイント 768px -------------- */
@media screen and (max-width: 768px) {
  /* --------------------- ヘッダー --------------------- */
  .menu-icon {
    background-color: var(--bg-color-2);
    height: 35px;
    width: 35px;
    border-radius: 3px;
    margin-left: 100px;
  }

  header .logo {
    margin: 0 auto;
  }

  header nav {
    height: 30vh;
    position: absolute;
    top: 140%;
    width: 35%;
    left: 6%;
    background-color: var(--bg-color-1);
    box-shadow: var(--box-shadow);
  }

  header nav a {
    display: block;

  }
}

/* --------------------- ブレイクポイント 500px -------------- */
@media screen and (max-width: 500px) {
  html {
    font-size: 65%;
  }
  /* --------------------- ヘッダー --------------------- */

 
  header .logo {
    margin: 0 auto;
  }

  .login {
    margin-right: 30px;
  }
}

