@media screen and (max-width: 1280px) {
  header .logo {

    color: aqua;
  }

  .overview-title h1 {
    font-size: 24px;
  }

  .overview-title p {
    font-size: 18px;
  }

  .explanation p {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 4% 2%;
  }

  .packege-container {
    margin-bottom: 100px;
  }
}