@media screen and (max-width: 480px) {
  header {
    height: 70px;
  }

  .container {
    padding-top: 70px;
  }

  header .logo {
    font-size: 20px;
  }

  .main-title {
    left: 6%;
    font-size: 23px;
  }

  .packege-container {
    margin-bottom: 170px;
  }

  .service-menu {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
}