@media screen and (max-width: 480px) {
  header {
    height: 70px;
  }

  .container {
    padding-top: 70px;
  }

  header .logo {
    color: aquamarine;
    font-size: 20px;
  }

  .service-menu {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
}