@media screen and (max-width: 600px) {
  .booknow {
    font-size: 13px;
  }

  header {
    padding: 12px 0 0 0;
  }

  .overview {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    background: #eee;
    flex-direction: column;
  }

  .hotel-image {
    width: 100%;
    margin: 0;
  }

  .title-dlex {
    width: 100%;
    padding-top: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 1%;
  }

  .packege-container {
    margin-bottom: 35%;
  }

  .packege-menu button {
    display: block;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 7px 30px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 9px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
}