@media screen and (max-width: 600px) {
  header .logo {
    font-size: 23px;
  }

  .booknow {
    font-size: 13px;
  }

  .main-title {
    top: 75%;
    font-size: 29px;
  }

  .overview {
    justify-content: center;
    flex-direction: column;
  }

  .overview-title h1 {
    font-size: 19px;
  }

  .hotel-image {
    width: 100%;
  }

  .overview-text {
    width: 100%;
    padding-top: 10px;
  }

  .grid {
    gap: 1%;
  }

  .packege-container {
    margin-bottom: 200px;
  }

  .packege-container h1,
  .service-container h1,
  .contact-container h1 {
    font-size: 26px;
  }

  .packege-menu p,
  .packege-menu span {
    font-size: 17px;
  }

  .packege-menu button {
    padding: 9px 60px;
    margin-top: 5px;
  }

  footer h3 {
    font-size: 23px;
  }
}