@media screen and (max-width: 960px) {
  .main-title {
    font-size: 38px;
  }

  .overview {
    padding: 18px;
  }

  .overview-title h1 {
    padding-bottom: 0px;
    font-size: 17px;
  }

  .overview-title p {
    padding-bottom: 3px;
    font-size: 12px;
  } 

  .explanation p {
    font-size: 10px;
  }

  .overview-btn button {
    padding: 8px 30px;
    margin-top: 8px;
    font-size: 10px;
  }

  .packege-container h1,
  .service-container h1,
  .contact-container h1 {
    font-size: 29px;
    margin-bottom: 15px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 2%;
  }

  .packege-menu p {
    font-size: 15px;
    padding-top: 3px;
  }

  .packege-menu span {
    font-size: 15px;
  }

  .packege-menu button {
    padding: 7px 30px;
    margin-top: 8px;
    font-size: 10px;
  }

  .service-grid {
    justify-content: center;
  }

  .service-menu {
    width: 43%;
    margin: 10px;
  }

  .service-menu span {
    font-size: 35px;
  }
  
  .service-menu h3 {
    font-size: 25px;
  }

  .form-container {
    width: 90%;
  }
}