* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

.header-container {
  margin: 0 auto;
  width: 80%;
  height: 20px;
}

header {
  position: fixed;
  width: 80%;
  display: flex;
  padding: 20px 0 0 0;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

header .logo {
  font-size: 26px;
  cursor: pointer;
}

.icons {
  display: flex;
}

.booknow {
  padding-right: 40px;
  cursor: pointer;
}

.menu-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  background-color: black;
  height: 2px;
  width: 32px;
  margin-bottom: 7px;
  transition: 1s;
}

.menu-icon span:last-child {
  margin-bottom: 0;
}

.menu-open .menu-icon span {
  background-color: wheat;
  transition: all 1s;
}

.menu-open .menu-icon span:nth-child(1) {
  transform: translateY(9px) rotate(135deg);
}

.menu-open .menu-icon span:nth-child(2) {
  transform: translateX(-16px) scaleX(0);
}

.menu-open .menu-icon span:nth-child(3) {
  transform: translateY(-9px) rotate(-135deg);
}

.container {
  width: 84%;
  margin: 0 auto;
}

.images {
  overflow: hidden;
  margin: 5% 0;
  height: 80vh;
  position: relative;
}

.images img {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  -webkit-animation: anime 20s 0s infinite;
  animation: anime 20s 0s infinite;
}

.item1:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.item1:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.item1:nth-of-type(4) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

/* ふわっとアニメーション */
@keyframes anime {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
