* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "sans-serif";
}

.header-container {
  width: 100%;
  position: fixed;
  z-index: 100;
}

header {
  margin: 0 auto;
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

header .logo {
  font-size: 26px;
  cursor: pointer;
}

.booknow {
  cursor: pointer;
}

.container {
  width: 84%;
  margin: 0 auto;
  padding-top: 85px;
}

/* -------------------------- ホーム -------------------------- */
.images {
  overflow: hidden;
  margin: 0 0 85px 0;
  height: 80vh;
  position: relative;
}

.main-title {
  position: absolute;
  top: 66%;
  left: 9%;
  z-index: 10;
  color: white;
  font-size: 47px;
}

.images img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: anime 20s 0s infinite;
}

.item1:nth-of-type(2) {
  animation-delay: 5s;
}

.item1:nth-of-type(3) {
  animation-delay: 10s;
}

.item1:nth-of-type(4) {
  animation-delay: 15s;
}

/* -------------------------- 概要欄 -------------------------- */
.overview-container {
  margin-bottom: 85px;
}

.overview {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-around;
  background: #eee;
}

.hotel-image {
  width: 47%;
}

.hotel-image img {
  max-width: 100%;
}

.overview-text {
  width: 47%;
}

.overview-title h1 {
  font-size: 33px;
  padding-bottom: 5px;
  font-weight: lighter;
}

.overview-title p {
  padding-bottom: 30px;
  font-size: 20px;
}

.explanation p {
  font-size: 14px;
}

.overview-btn button {
  background-color: black;
  color: white;
  padding: 12px 50px;
  display: block;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
  transition: all 0.2s ease;
  border: 1px solid black;
}

.overview-btn button:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: none;
  color: black;
}

/* -------------------------- パッケージ -------------------------- */
.packege-container {
  margin-bottom: 135px;
}

.packege-container h1,
.service-container h1,
.contact-container h1 {
  font-size: 38px;
  margin-bottom: 25px;
  font-weight: lighter;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  gap: 5% 3%;
}

.packege-menu img {
  max-width: 100%;
  object-fit: scale-down;
}

.packege-menu h4 {
  font-weight: lighter;
  font-size: 17px;
}

.packege-menu p {
  display: inline-block;
  font-size: 22px;
  padding-top: 5px;
  font-weight: bolder;
  font-weight: lighter;
}

.packege-menu span {
  font-size: 22px;
  padding-left: 7px;
  font-weight: bolder;
  font-weight: lighter;
}

.packege-menu button {
  display: block;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px 45px;
  margin-top: 10px;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.packege-menu button.slide-bg::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}

.packege-menu button:hover::before {
  transform: none;
}

.packege-menu button:hover {
  color: white;
}

/* -------------------------- サービス -------------------------- */
.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-menu {
  background-color: #eee;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  width: 23%;
  transition-property: opacity; 
  transition-duration: 1.5s;
  opacity: 0;
}

.service-menu i {
  line-height: 50px;
  background-color: black;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}

.service-menu span {
  font-size: 40px;
  font-weight: 600;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  color: white;
}

.service-menu h3 {
  font-size: 32px;
  padding-top: 10px;
}

.service-menu p {
  font-size: 13px;
}

/* -------------------------- お問い合わせ -------------------------- */
.contact-container {
  margin-top: 85px;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container form input {
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.contact-container form textarea {
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

.contact-container form button {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 12px 70px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
}

.contact-container form button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/* -------------------------- フッター -------------------------- */
footer {
  height: 110px;
  background-color: #eee;
  padding: 40px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
}

footer h3 {
  display: block;
  font-size: 26px;
  font-weight: lighter;
}

/* -------------------------- アニメーション -------------------------- */
.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
}

.cover-slide.inview::after{
  animation: cover-slide 1.3s ease;
  animation-fill-mode: forwards;
}

.img-zoom {
  opacity: 0;
}

.inview .img-zoom {
  animation: img-zoom 1.5s ease;
  animation-fill-mode: forwards;
}

.service-menu.fadeIn {
  opacity: 1;
}
/* -------------------------- @keyframes -------------------------- */
@keyframes cover-slide {
  0% {
    right: 100%;
    left: 0;
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 0;
    left: 100%;
  }
}

@keyframes img-zoom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
